# This is a generic workflow for gem CI operations.
name: "Gem CI"

on:
  workflow_call:
    inputs:
      ruby_version:
        description: "The target Ruby version."
        required: false
        default: "2.7"
        type: "string"
      puppet_gem_version:
        description: "Specifies the version of the Puppet gem to be installed"
        required: false
        default: "~> 7.24"
        type: "string"
      rake_task:
        description: "The name of the rake task that executes tests"
        required: false
        default: "spec"
        type: "string"
      runs_on:
        description: "The operating system used for the runner."
        required: false
        default: "ubuntu-latest"
        type: "string"

jobs:
  spec:
    name: "spec"
    runs-on: ${{ inputs.runs_on }}

    env:
      PUPPET_GEM_VERSION: ${{ inputs.puppet_gem_version }}

    steps:

      - name: "checkout"
        uses: "actions/checkout@v3"

      - name: "export environment"
        run: |
          echo "PUPPET_GEM_VERSION=${{ inputs.puppet_gem_version }} >> $GITHUB_ENV"

      - name: "setup ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: ${{ inputs.ruby_version }}
          bundler-cache: true

      - name: "bundle environment"
        run: |
          echo ::group::bundler environment
          bundle env
          echo ::endgroup::

      - name: "rubocop"
        run: |
          bundle exec rubocop --format github

      - name: "spec"
        run: |
          bundle exec rake ${{ inputs.rake_task }}
